<section data-controller="dynamic-form" data-dynamic-form-target="template">
    <% if cards.present? && cards.length > 0 %>

    <% cards.each_with_index do |card, index| %>
        <div class="flex items-center justify-between relative mb-6" data-id="<%=index%>" data-dynamic-form-target="row">
            <span class="absolute -left-6">#<%=index +1%></span>

            <input type="hidden" 
                name="deck[cards][<%=index%>][id]"
                value="<%= card["id"] %>"
                id="deck_cards_<%=index%>_id" />

            <div data-dynamic-form-target="front">
                <label class="block mb-1 text-gray-800 font-medium string optional block text-gray-800 font-medium" 
                        for="deck_cards_<%=index%>_front"
                >Front</label>
                <input class="appearance-none block w-full p-3 leading-5 text-gray-900 border border-gray-200 focus:border-$blue rounded-lg shadow-md placeholder-gray-400 focus:outline-none focus:ring-0 transition-colors duration-200 ease-in-out string optional"
                        type="text" 
                        name="deck[cards][<%=index%>][front]"
                        value="<%= card["front"] %>"
                        id="deck_cards_<%=index%>_front" />
            </div>
            <div data-dynamic-form-target="back">
                <label class="block mb-1 text-gray-800 font-medium string optional block text-gray-800 font-medium" 
                        for="deck_cards_<%=index%>_back"
                >Back</label>
                <input class="appearance-none block w-full p-3 leading-5 text-gray-900 border border-gray-200 focus:border-$blue rounded-lg shadow-md placeholder-gray-400 focus:outline-none focus:ring-0 transition-colors duration-200 ease-in-out string optional"
                        type="text" 
                        name="deck[cards][<%=index%>][back]"
                        value="<%= card["back"] %>"
                        id="deck_cards_<%=index%>_back" />
            </div>

            <button tabindex="-1" data-dynamic-form-target="delete_button" data-action="click->dynamic-form#delete_field" class="btn-deck-remove inline-block align-middle">X</button>
        </div>
    <% end %>

    <% else %>

        <div class="flex items-center justify-between relative mb-6" data-id="0" data-dynamic-form-target="row">
            <span class="absolute -left-6">#1</span>

            <input type="hidden" 
                name="deck[cards][0][id]"
                value="<%= SecureRandom.uuid %>"
                id="deck_cards_0_id" />

            <div data-dynamic-form-target="front">
            <label class="block mb-1 text-gray-800 font-medium string optional block text-gray-800 font-medium" 
                    for="deck_cards_0_front"
            >Front</label>
            <input class="appearance-none block w-full p-3 leading-5 text-gray-900 border border-gray-200 focus:border-$blue rounded-lg shadow-md placeholder-gray-400 focus:outline-none focus:ring-0 transition-colors duration-200 ease-in-out string optional"
                    type="text" 
                    name="deck[cards][0][front]" 
                    id="deck_cards_0_front" />
            </div>
            <div data-dynamic-form-target="back">
            <label class="block mb-1 text-gray-800 font-medium string optional block text-gray-800 font-medium" 
                    for="deck_cards_0_back"
            >Back</label>
            <input class="appearance-none block w-full p-3 leading-5 text-gray-900 border border-gray-200 focus:border-$blue rounded-lg shadow-md placeholder-gray-400 focus:outline-none focus:ring-0 transition-colors duration-200 ease-in-out string optional"
                    type="text" 
                    name="deck[cards][0][back]" 
                    id="deck_cards_0_back" />
            </div>

            <button tabindex="-1" data-dynamic-form-target="delete_button" data-action="click->dynamic-form#delete_field" class="btn-deck-remove inline-block align-middle">X</button>
        </div>
    <% end %>

    <button data-dynamic-form-target="add_button" data-action="click->dynamic-form#add_field" class="btn-primary float-right mt-0">Add new</button>
</section>
