<div class="decoration-red-800">
    <% if current_student %>
        you are logged in as <%= current_student.email %>
    <% elsif current_teacher %>
        you are logged in as <%= current_teacher.email %>
    <% else %>
        you are not logged in
    <% end %>
</div>

<div>
    <%= link_to "Sign in as student", new_student_session_path, class: "btn-primary inline-block" unless current_student %>
    <%= link_to "Sign in as teacher", new_teacher_session_path, class: "btn-primary inline-block" unless current_teacher %>
    <%= link_to "Sign in as manager", new_manager_session_path, class: "btn-primary inline-block" %>
</div>

<div class="inline-block">
    <%= button_to "Sign out from student", destroy_student_session_path, method: :delete, class: "btn-secondary" if current_student %>
</div>
<div class="inline-block">
    <%= button_to "Sign out from teacher", destroy_teacher_session_path, method: :delete, class: "btn-secondary" if current_teacher %>
</div>
<div class="inline-block">
    <%= button_to "Sign out from manager", destroy_manager_session_path, method: :delete, class: "btn-secondary"  %>
</div>

<%= button_to "Register with Facebook", 
        student_facebook_omniauth_authorize_path, 
        class: "btn-primary",
        data: { turbo: "false", method: :post } 
%>
